#search_area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
  }
  #search_box {
    width: 50%;
    font-size: 18px;
    border-radius: 8px;
    padding: 4px;
    padding-left: 12px;
  }
  #search_button {
    font-size: 18px;
    border-radius: 8px;
    padding: 4px 12px;
    cursor: pointer;
  }
    #manual_explorer {
    width: 100%;
    font-size: 12px;
  }
  #toolbar {
    text-align: right;
    margin-top: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
  }
  #add_icon {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  #add_button {
    width: 3rem;
    border: none;
    outline: none;
    background: none;
  }
  #trash_can {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  #delete_button{
    width: 3rem;
    border: none;
    outline: none;
    background: none;
  }