<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Pure JavaScript Book Effect</title>
  <link rel="stylesheet" href="/static/book_style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">
<div class="book">
  <div id="pages" class="pages">
    <div class="page"><p>Open Me,<br><br> please!</p></div>
    <div class="page"></div>
    <div class="page"><p>Hello there!</p></div>
    <div class="page"><img style="width:70%;" src="/static/manual2.png"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
  </div>
</div>
<!-- partial -->
  <script  src="/static/book_script.js"></script>

</body>
</html>
