<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upload Complete</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Complete</title>
    <style>
      #div1{
        width: 100%;
        text-align: center;
      }
      .nav_buttons{
        width: 60%;
        border-radius: 10px;
        font-size: 17px;
        border: none;
        background-color: grey ;
        height: 30px;
      }
      a{
        text-decoration: none;
      }
    </style>
</head>
<body>
  <div id="div1">
    <h1>SUCCESS! your files have been uploaded.</h1>
    <p>you can now either</p>
    
    <a href="index.html"><button class="nav_buttons">return to the home page</button></a>
    <p>or</p>
    <a href="database.html"><button class="nav_buttons">view your uploaded item</button></a>
    </div>
</body>
</html>